parameters:
  solution.mongo_aggregation_query.class: Solution\MongoAggregationBundle\AggregateQuery\AggregationQueryBuilder

services:
  solution.mongo_aggregation_query:
    class: %solution.mongo_aggregation_query.class%
    arguments:
      - @doctrine_mongodb.odm.document_manager
